<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INNKEEPER'S TAVERN - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    </head>
    <body class='{% block bodyclass %}body{% endblock %}'>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
