{% extends 'base.html.twig' %}

{% block title %}Coming Soon{% endblock %}

{% block bodyclass %}body_coming-soon{% endblock %}

{% block body %}
    <div class='coming-soon_container'>
        <div class='coming-soon_infobox'>
            <h1 class='coming-soon_title'>Welcome, friend!</h1>
            <p>We're thrilled that you want to come along to see what all the fuss is about!</p>
            <p>However, we're not quite ready just yet. ​We've got a few more things behind the scenes that we need to get sorted before we're good to go!</p>
            <p>But don't panic, you can stay up to date on our content and the progress of the website by joining our Discord!</p>
            <a href='https://discord.gg/sHekGst' target="_blank">
                <img class='discord-logo' src='https://discordapp.com/assets/e4923594e694a21542a489471ecffa50.svg' />
            </a>
        </div>
    </div>
{% endblock %}